<h1>Dungeon: <%= @dungeon.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Levels:</b>
  <%= @dungeon.levels %>
</p>

<p>
  <b>Evil Wizard:</b>
  <%= show_evil_wizard_for_dungeon(@dungeon) %>
</p>

<%= actions_menu link_to('Edit', edit_dungeon_path(@dungeon)),
                 link_to('Back', dungeons_path) %>
