<h1>Dungeon: <%= @dungeon.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Levels:</b>
  <%= @dungeon.levels %>
</p>

<ul class="actions">
  <li><%= link_to 'Edit', edit_dungeon_path(@dungeon) %></li>
  <li><%= link_to 'Back', dungeons_path %></li>
</ul>
