<h1>Trap Installation: <%= @trap_installation.description %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Dungeon:</b>
  <%= link_to @trap_installation.dungeon.name, @trap_installation.dungeon %>
</p>

<p>
  <b>Trap:</b>
  <%= link_to @trap_installation.trap.name, @trap_installation.trap %>
</p>

<%= render @trap_installation %>

<%= actions_menu link_to('Edit', edit_trap_installation_path(@trap_installation)),
                 link_to('Back', trap_installations_path) %>
