<h1>Trap Installation <%= scoped_parent_for_title %></h1>

<p id="notice"><%= notice %></p>

<%= render "details_for_#{@scope.class.name.underscore}_scoped_trap_installation", :trap_installation => @trap_installation %>

<%= render @trap_installation %>

<%= actions_menu link_to('Edit', [:edit, @scope, @trap_installation]),
                 link_to('Back', [@scope, :trap_installations]) %>
