<%= form_for(@trap) do |f| %>
  <% if @trap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trap.errors.count, "error") %> prohibited this trap from being saved:</h2>

      <ul>
      <% @trap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :base_damage_caused %><br />
    <%= f.text_field :base_damage_caused %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
